<ion-header>
  <ion-toolbar>
    <ion-title>AC1-3TRI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="userData.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="userData.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nota Privada</ion-label>
      <ion-textarea [(ngModel)]="userData.note" name="note"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Chave de Criptografia</ion-label>
      <ion-input type="password" [(ngModel)]="encryptionKey" name="key"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Criptografar e Salvar</ion-button>
  </form>
</ion-content>
