:root {
  /** primary (Azul Frio)**/
  --ion-color-primary: #3A7CA5;  /* Azul frio suave */
  --ion-color-primary-rgb: 58, 124, 165;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #336c8e;
  --ion-color-primary-tint: #4b8db5;

  /** secondary (Verde Água) **/
  --ion-color-secondary: #5CB8A5;  /* Verde-água gelado */
  --ion-color-secondary-rgb: 92, 184, 165;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #4fa192;
  --ion-color-secondary-tint: #6dc6b3;

  /** tertiary (Azul Neve) **/
  --ion-color-tertiary: #74b3ce;  /* Azul claro e frio */
  --ion-color-tertiary-rgb: 116, 179, 206;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-shade: #649cb5;
  --ion-color-tertiary-tint: #85c3d6;

  /** success (Verde claro) **/
  --ion-color-success: #2F8F9D;  
  --ion-color-success-contrast: #ffffff;

  /** warning (Cinza Claro) **/
  --ion-color-warning: #aec6cf;
  --ion-color-warning-contrast: #000000;

  /** danger (Azul Escuro) **/
  --ion-color-danger: #254B5A;
  --ion-color-danger-contrast: #ffffff;

  /** dark (Cinza Escuro) **/
  --ion-color-dark: #2b2d42;
  --ion-color-dark-contrast: #ffffff;

  /** light (Cinza Claro) **/
  --ion-color-light: #edf2f4;
  --ion-color-light-contrast: #000000;

  /** Background **/
  --ion-background-color: #e0f7fa;  /* Fundo azul claro gelado */
  --ion-text-color: #2e2e2e;  /* Texto escuro */
}
